#root {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.example {
  width: 800px;
  height: 500px;
  background-color: blanchedalmond;
  padding-top: 200px;
  padding-left: 300px;
}

.bicycle {
  position: relative;
}

.frame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  fill: yellow;
  z-index: 1;
}

.wheel1 {
  position: absolute;
  top: 260px;
  left: -90px;
  width: 200px;
  fill: purple;
}

.wheel2 {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 400px;
  fill: purple;
}

.steeringWheel {
  position: absolute;
  top: -20px;
  left: 200px;
  width: 100px;
  fill: green;
  z-index: 2;
}

.seat {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 90px;
  z-index: 2;
  fill: blue;
}

.pedals {
  position: absolute;
  top: 220px;
  left: 250px;
  width: 60px;
  z-index: 2;
  fill: red;
}
