.bikeEditor {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  & .bikeEditorLeftColumn,
  & .bikeEditorRightColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .addPanel {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  & .previewPanel {
    flex: 1;
    position: relative;
    overflow: auto;
    max-width: 100%;
    z-index: 0;
    border: 1px solid white;
  }

  & .previewImg {
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
  }
  & .previewImgActive {
    z-index: -1;
    cursor: default;
    border: 1px solid aqua;
  }
}
