@keyframes wheel-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: wheel-spin infinite 20s linear;
}

.flexRow,
.flexColum {
  display: flex;
  gap: 1rem;
}
.flexColum {
  flex-direction: column;
}
.flex1 {
  flex-grow: 1;
}
.hiddenOverflow {
  overflow: hidden;
}
